<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <header class="header">
            <h1 class="headerTitle">MEMBERS ONLY...</h1>
        </header>
        <section class="posts">
            <h1 class="feed">FEED</h1>
            <hr>
            <% posts.forEach(post => { %>
                <div class="post">
                    <img src="" alt="" class="profilePic">
                    <div class="profileInfo">
                        <h3 class="profileUsername"></h3>
                        <p class="profileFullName"></p>
                    </div>
                    <hr>
                    <h2 class="postTitle"></h2>
                    <p class="postBody"></p>
                </div>
            <% }) %>
        </section>
        <footer class="footer">
            <a href="" class="footerLink">TERMS & CONDITIONS</a>
            <a href="" class="footerLink">PRIVACY POLICY</a>
        </footer>
    </body>
</html>