<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="styles/log-in.css">
        <link rel="stylesheet" href="styles/shared.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1 class="headerTitle"></h1>
        </header>
        <section class="main">
            <a href="/" class="backBtn">BACK</a>
            <h1>LOG IN</h1>
            <form action="/log-in" method="POST">
                <label>
                    E-mail adress:
                    <input type="email" name="email" required>
                </label>
                <label>
                    Password:
                    <input type="password" name="password" required>
                </label>
                <button type="submit">LOG IN</button>
            </form>
            <p>Don't have an account yet? <a href="/register" class="link">Register now!</a></p>
        </section>
        <footer class="footer">

        </footer>
    </body>
</html>