<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MEMBERS ONLY: BECOME A MEMBER</title>
        <link rel="stylesheet" href="styles/member.css">
        <link rel="stylesheet" href="styles/shared.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1 class="headerTitle">MEMBERS ONLY...</h1>
            <% if (locals.user) { %>
                <div class="headerLeft">
                    <div class="userInfo">
                        <div class="userInfoTop">
                            <h3 class="userName"><%= user.username %></h3>
                            <% if (locals.user.is_member) { %>
                                <img src="/assets/memberBadge.svg" alt="" class="memberBadge">
                            <% } %>
                        </div>
                        <p class="userFullName"><%= user.firstname %><%= user.lastname %></p>
                    </div>
                    <img src="" alt="user pfp" class="userPfp">
                </div>
            <% } else { %>
                <div class="headerLeft">
                    <a href="/log-in" class="link">LOG IN</a>
                    <a href="/register" class="link">REGISTER</a>
                </div>
            <% } %>
        </header>
        <div class="main">
            <section class="sectionLeft">
                <a href="/" class="backBtn">BACK</a>
            </section>
            <section class="sectionMid">
                <h2 class="sectionMidTitle">
                    <% if (locals.user.is_member){ %>
                        YOU ARE ALREADY A MEMBER!
                    <% } else { %>
                        GUESS THE SECRET PASSWORD AND BECOME A MEMBER
                    <% } %>
                </h2>
                <hr>
                <% if (!locals.user.is_member) { %> 
                    <form action="/member" method="POST">
                        <input type="text" name="memberPassword" required>
                        <button type="submit">GUESS</button>
                    </form>
                <% } %>
            </section>
            <section class="sectionRight"></section>
        </div>
        <footer class="footer">
            <a href="/about">About this project...</a>
            <% if (locals.user) { %>
                <a href="/log-out" class="link">LOG OUT</a>
            <% } %>
        </footer>
    </body>
</html>