<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="styles/member.css">
        <link rel="stylesheet" href="styles/shared.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1 class="headerTitle"></h1>
        </header>
        <section class="main">
            <a href="/" class="backBtn">BACK</a>
            <h2>GUESS THE SECRET PASSWORD AND BECOME A MEMBER</h2>
            <form action="/member" method="POST">
                <input type="text" name="memberPassword" required>
                <button type="submit">GUESS</button>
            </form>
        </section>
        <footer class="footer">

        </footer>
    </body>
</html>