<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MEMBERS ONLY: POST</title>
        <link rel="stylesheet" href="styles/post.css">
        <link rel="stylesheet" href="styles/shared.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1 class="headerTitle">MEMBERS ONLY...</h1>
            <% if (locals.user) { %>
                <div class="headerLeft">
                    <div class="userInfo">
                        <div class="userInfoTop">
                            <h3 class="userName"><%= user.username %></h3>
                            <% if (locals.user.is_member) { %>
                                <img src="/assets/memberBadge.svg" alt="" class="memberBadge">
                            <% } %>
                        </div>
                        <p class="userFullName"><%= user.firstname %><%= user.lastname %></p>
                    </div>
                    <img src="" alt="user pfp" class="userPfp">
                </div>
            <% } else { %>
                <div class="headerLeft">
                    <a href="/log-in" class="link">LOG IN</a>
                    <a href="/register" class="link">REGISTER</a>
                </div>
            <% } %>
        </header>
        <div class="main">
            <section class="sectionLeft">
                <a href="/" class="backBtn">BACK</a>
            </section>
            <section class="sectionMid">
                <h1 class="sectionMidTitle">POST</h1>
                <hr>
                <form action="/post" method="POST" class="postForm">
                    <label>
                        Title
                        <input type="text" min="10" max="100" name="title" placeholder="A brief eye-catching phrase to attract readers" required>
                    </label>
                    <label>
                        Body
                        <input type="text" name="body" placeholder="Tell the world a story!" required>
                    </label>
                    <button type="submit">POST</button>
                </form>
            </section>
            <section class="sectionRight"></section>
        </div>
        <footer class="footer">
            <a href="/about">About this project...</a>
            <% if (locals.user) { %>
                <a href="/log-out" class="link">LOG OUT</a>
            <% } %>
        </footer>   
    </body>
</html>