<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="styles/register.css">
        <link rel="stylesheet" href="styles/shared.css" type="text/css">
    </head>
    <body>
        <header class="header">
            <h1 class="headerTitle"></h1>
        </header>
        <section class="main">
            <a href="/" class="backBtn">BACK</a>
            <h1>REGISTER</h1>
            <form action="/register" method="POST">
                <label>
                    First name:
                    <input type="text" min="1" name="firstName" required>
                </label>
                <label>
                    Last name:
                    <input type="text" min="1" class="lastName" required>
                </label>
                <label>
                    Username:
                    <input type="text" min="1" name="username" required>
                </label>
                <label>
                    E-mail adress:
                    <input type="email" name="email" required>
                </label>
                <label>
                    Password:
                    <input type="password" min="8" name="password" required>
                </label>
                <label>
                    Confirm password:
                    <input type="password" min="8" name="confirmPassword" required>
                </label>
                <button type="submit">REGISTER</button>
            </form>
        </section>
        <p>Already have an account? <a href="/log-in" class="link">Log in!</a></p>
        <footer class="footer">

        </footer>
    </body>
</html>